<div class="left-container">
    <div>
        <app-nav></app-nav>
    </div>
    <div class="container-middle">
        <div>
            <h1>The best way to predict the future is to create it.</h1>
            <p>Good design is like a refrigerator - when it works no one notice, but when it doesn't, it sure stinks</p>
            <button>Read More</button>
        </div>
        <div class="half-circle-container">
            <div class="half-circle"></div>
        </div>
        
    </div>
    <div>
        <p>
            Share With:
        </p>
    </div>
</div>
